
  <footer class="footer pt-5 mt-5">
    <hr class="horizontal dark mb-5">
    <div class="container">
      <div class="row">
        <div class="col-md-12 mb-4 text-center"> <!-- Змінив col-md-2 на col-md-12 і додав text-center -->
          <div>
            <h6 class="text-gradient text-primary text-sm">Company</h6>
            <ul class="flex-column ms-n3 nav">
              <li class="nav-item">
                  Dmytro Vasiluk
              </li>
              <li class="nav-item">
                  tel. 8(000)111-11-11
              </li>
            </ul>
          </div>
        </div>
        <div class="col-12">
          <div class="text-center">
            <p class="my-4 text-sm">
              Design by &copy; Dmytro Vasiluk
            </p>
          </div>
        </div>
      </div>
    </div>
  </footer>
