{% extends "base.html" %}

{% block content %}
  <h1>
    Dish Types List
    <a href="{% url "kitchen_core:dish-types-create" %}" class="btn btn-primary link-to-page">
      Create
    </a>
  </h1>
  
  {% include "includes/search_field.html" %}

  {% if dish_types_list %}
    <table class="table">
      <tr>
        <th>ID</th>
        <th>Name</th>
{#        <th>Update</th>#}
{#        <th>Delete</th>#}
      </tr>

      {% for dish_type in dish_types_list %}
        <tr>
          <td>
              {{ dish_type.id }}
          </td>
          <td>
              {{ dish_type.name }}
          </td>
        </tr>
      {% endfor %}
    </table>

  {% else %}
      <p>There are no dish types in the service.</p>
  {% endif %}
{% endblock %}